.wraper {
    display: flex;
    flex-direction: row-reverse;
    padding: 40px;
}

.main-contain{
   margin: 60px;
   margin-top: 20px;
}

h2 {
    background-color: cyan;
}

 h1 {font-size: 35px;}

 .body {
    font-family: 'Playfair Display', serif;
}
    
 
 /* sidebar */
 .sidebar {
width: 370px;
 }
 .my-photo {
margin-top: 10px;
 }
 .personal-data{
    margin: 48px 0 0 40px;
 }
 .li-botton {
    margin-bottom: 8px;
 }
